<header class="main-nav">
	<nav class="left-nav">
		<ul>
			<li id="sections-sidebar-btn">
				<i class="fa fa-bars"></i>
				<span>sections</span>
			</li>
			<li id="search-modal-btn">
				<i class="fa fa-search"></i>
				<span>search</span>
			</li>
		</ul>
	</nav>
	<nav class="right-nav">
		<ul>
			<li><button>SUBSCRIBE NOW</button></li>
			<li><button>LOG IN</button></li>
			<i class="fas fa-user-cog"></i>
		</ul>
	</nav>
</header>