<form action="<% cats_url %>" method="POST"> 
  <label> Cats Name
    <input type="text" name="cats[name]" value="<%= @cats.name %>" />
  </label>
  <br>
  <label>
    <input type="radio" name="cats[sex]" value="M"/>
  </label>
  <label>
    <input type="radio" name="cats[sex]" value="F"/>
  </label>
  <br>
  <label for="cat_color"> Color </label>
    <select name="cats[color]">
      <option disabled selected> --select a Color-- </option>
      </select>

</form>