<form action="<% cats_url %>" method="POST"> 
  <label> Cats Name
    <input type="text" name="cats[name]" value="<%= @cats.name %>" />
  </label>
  <br>

  <label>
    <input type="radio" name="cats[sex]" value="M"/>
  </label>
  <label>
    <input type="radio" name="cats[sex]" value="F"/>
  </label>
  <br>

  <label for="cat_color"> Color </label>
    <select name="cats[color]">
      <option disabled selected> --select a Color-- </option>
      <option value="brown">brown</option>
      <option value="white">white</option>
      <option value="grey">grey</option>
      <option value="black">black</option>
    </select>
  <br>

  <label for="birth_date">birth date</label>
  <input id="birth_date" type="date" name="cats[birth_date]"/>
  <br>

  <label for="description">Description</label>
    <textarea name="cats[description]"></textarea>
  <br>
  
  <label for="cat_age">Age</label>
  <input id="age" type="text" name="cats[age]"/>

</form>