.main-nav {
  display: flex;
  justify-content: space-between;
  padding: 10px 0;
}

.left-nav > ul,
.right-nav > ul {

}

.left-nav {

  > ul {
    display: flex;
    // flex-direction: row;
    // justify-content: space-between;
    align-items: center;
    > li {

    }
  }

  span {

  }
}

.right-nav  {

  > ul {

    > li {
  
    }

    > li:last-of-type {
  
    }
  }
  
  i {

  }
}

.left-nav > ul > li:hover,
.right-nav > ul > li:last-of-type:hover {

}
