<form action="<%= new_user_url %>" method="GET"> 

  <label for="username"> Username </label>
  <input type="text" id="username" name="users[username]" value="<%= @user.username %>" /> 
  <br>
  <label for="password"> Password </label>
  <input type="password" id="password" name="users[password]" value= "" />




</form>