<h1>Sign Up</h1>

<form action="<%= users_url %>" method="post">
  <label for="username">Username</label>
  <input type="text" name="user[name]" id="username">
  <br>
  <label for="password">Password</label>
  <input type="password" name="user[password]" id="password">
  <br>
  <input type="submit" value="Sign Up">
</form>